
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="CandidatesForValidationController">   
    <div class="col-md-12">
        <div class="col-md-2"></div>
        <div class="col-md-8">           
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>PRN</th>
                        <th>Adhar</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Trade Category</th>
                        <th>Trade Name</th>
                        <th>Project Type</th>
                        <th>Oral</th>
                        <th>Practical</th>
                        <th>Written</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="ValidationAgency in CandidatesForValidationList">
                        <td>{{ValidationAgency.ValidationAgencyId}}</td>
                        <td>{{ValidationAgency.AgencyDescription}}</td>
                        <td>{{ValidationAgency.AgencyAddress}}</td>
                        <td>{{ValidationAgency.AgencyContactNo}}</td>
                        <td>{{ValidationAgency.ValidationAgencyId}}</td>
                        <td>{{ValidationAgency.AgencyDescription}}</td>
                        <td>{{ValidationAgency.AgencyAddress}}</td>
                        <td>{{ValidationAgency.AgencyContactNo}}</td>
                        <td>{{ValidationAgency.ValidationAgencyId}}</td>
                        <td>{{ValidationAgency.AgencyDescription}}</td>                        
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="col-md-2">
                    <select class="form-control" style="margin-top:20px;" data-ng-model="ValidationAgencyModel.PageSize">
                        <option value="5">5</option>
                        <option value="5">10</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <ul class="pager">
                        <li><a href="#">Page No : {{CandidatesForValidationModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                        <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                        <li><a href="#" data-ng-click="Next()">Next</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

@Scripts.Render("~/Scripts/ValidationProcess/CandidatesForValidationController.js")
