<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="CourseMasterController">
    <div class="col-md-12"><h3 class="header">Course Master</h3></div>
    <div class="col-md-12" data-ng-show="AddNew">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Course Title</label>
                <input type="text" class="form-control" placeholder="Enter Course Title ..." data-ng-model="CourseMasterModel.CourseTitle">
                <span class="badge badge-danger" data-ng-show="ErrorModel.CourseTitle">{{ErrorModel.ErrorSelectCourseTitle}}</span>

            </div>
            <div class="form-group">
                <label> Course Created Authority</label>

                <input type="text" class="form-control" placeholder="Enter Course Created Authority ..." data-ng-model="CourseMasterModel.CourseCreatedBy">
                <span class="badge badge-danger" data-ng-show="ErrorModel.CourseCreatedBy">{{ErrorModel.ErrorSelectCourseCreatedBy}}</span>

             </div>
            <div class="form-group" >
                <label> Course Created Date</label>
                <input type="text" class="form-control" id="ddlCSDate" placeholder="Enter Course Created Date ..."  data-ng-model="CourseMasterModel.CourseSanctionDate">
                <span class="badge badge-danger" data-ng-show="ErrorModel.CourseSanctionDate">{{ErrorModel.ErrorSelectCourseSanctionDate}}</span>

            </div>
            <div class="form-group">
                <label>Course Description</label>
                <input type="text" class="form-control" placeholder="Enter Trade Sanctioned Date ..."  data-ng-model="CourseMasterModel.CourseDescription">
                <span class="badge badge-danger" data-ng-show="ErrorModel.CourseDescription">{{ErrorModel.ErrorSelectCourseDescription}}</span>

            </div>

            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="Save()">Save</button>
                <button class="btn btn-danger" type="button" data-ng-click="CancelClick()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-ng-show="Details">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="AddNewClick()">Add New</button>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Course Title</th>
                        <th>Course Description</th>
                        <th>Course Created Authority</th>
                        <th>Course Created Date</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="CourseType in CourseMasterResponse">
                        <td>{{CourseType.CourseId}}</td>
                        <td>{{CourseType.CourseTitle}}</td>
                        <td>{{CourseType.CourseDescription}}</td>
                        <td>{{CourseType.CourseCreatedBy}}</td>
                        <td>{{CourseType.CourseSanctionDate |mydate| date: 'dd-MM-yyyy'}}</td>
                        <td><span class="glyphicon glyphicon-edit" data-ng-click="EditCourseType(CourseType)"></span></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="col-md-7"></div>
                <div class="col-md-1">
                    <div class="form-group">
                        <select class="form-control" style="margin-top:20px;" id="ddlPageSize">
                            <option value="5">5</option>
                            <option value="5">10</option>
                        </select>
                    </div>
                </div>
                <div>
                    <ul class="pager">
                        <li><a href="#">Page No : {{CourseTypeModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                        <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                        <li><a href="#" data-ng-click="Next()">Next</a></li>
                    </ul>
                </div>

            </div>

        </div>
        
    </div>
</div>
<script type="text/javascript">
     $("#ddlCSDate").datepicker({
                    format: "dd-MM-yyyy",
                    autoclose: true,
                    todayHighlight: true
                }).datepicker('update', new Date());
</script>