<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="DepartmentController">
    <div class="col-md-12"><h3 class="header">Sub Department Master</h3></div>
    <div class="col-md-12" data-ng-show="AddNew">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label> Sub Department Name</label>
                <input type="text" class="form-control" placeholder="Department Name ..." data-ng-model="DeptTypModel.Dept_Name">
                <span class="badge badge-danger" data-ng-show="ErrorModel.Dept_Name">{{ErrorModel.ErrorEnterDept_Name}}</span>
             </div>
           
           
            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="Save()">Save</button>
                <button class="btn btn-danger" type="button" data-ng-click="CancelClick()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-ng-show="Details">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-group">
                    <button class="btn btn-danger" type="button" data-ng-click="AddNewClick()">Add New</button>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th> Sub Department Name</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="DeptType in DeptTypeList">
                            <td>{{DeptType.DeptId}}</td>
                            <td>{{DeptType.Dept_Name}}</td>
                           


                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
                <div class="col-md-12">
                    <div class="col-md-7"></div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <select class="form-control" style="margin-top:20px;" id="ddlPageSize">
                                <option value="5">5</option>
                                <option value="5">10</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <ul class="pager">
                            <li><a href="#">Page No : {{DeptTypeModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                            <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                            <li><a href="#" data-ng-click="Next()">Next</a></li>
                        </ul>
                    </div>

                </div>

           
     
    </div>
</div>