<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="EmployeeTypeController">
    <div class="col-md-12"><h3 class="header">Main Contractor</h3></div>
    <div class="col-md-12" data-ng-show="AddNew">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Employee Type Description</label>
                <input type="text" class="form-control" placeholder="Enter Employee Type Description ..." data-ng-model="EmployeeTypeModel.EmpDesignation">
            </div>
            <div class="form-group">
                <label>Employee Type Description</label>
                <select class="form-control" id="ddlIsDmOrStaff">
                    <option value="DM">DM</option>
                    <option value="STAFF">STAFF</option>

                </select>
            </div>
            <div class="form-group">
                <label>Created By </label>
                <input type="text" class="form-control" placeholder="Enter Employee Type Created Authority ..." data-ng-model="EmployeeTypeModel.CreatedByAuthority">
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="Save()">Save</button>
                <button class="btn btn-danger" type="button" data-ng-click="CancelClick()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-ng-show="Details">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="AddNewClick()">Add New</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Employee Type</th>
                        <th>DM/STAFF</th>
                        <th>Created Authority</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="EmpType in EmpTypeList">
                        <td>{{EmpType.EmpTypeId}}</td>
                        <td>{{EmpType.EmpDesignation}}</td>
                        <td>{{EmpType.IsDmOrStaff==true?"DM":"STAFF"}}</td>
                        <td>{{EmpType.CreatedByAuthority}}</td>
                        <td>{{EmpType.EntryDate}}</td>


                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="col-md-4">
                    <select class="form-control" style="margin-top:20px;" id="ddlPageSize">
                        <option value="5">5</option>
                        <option value="5">10</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <ul class="pager">
                        <li><a href="#">Page No : {{EmployeeTypeModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                        <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                        <li><a href="#" data-ng-click="Next()">Next</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>