<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="EmployeeController">
    <div class="col-md-12"><h3 class="header">Employee Master</h3></div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-8" data-ng-switch="IsNewUser">
                        <label>Exit Status</label>
                        <span ng-switch-when="0" style="color:red">Existing User</span>
                        <span ng-switch-when="1" style="color:red">New User</span>
                        <span ng-switch-when="2" style="color:red">Re Join</span>
                    </div>
                    <div class="col-sm-4">

                        <div class='input-group date' id='dtReport'>
                            <input type="text" class="form-control" placeholder="Enter Date Of Reprting ..." data-ng-model="EmpDetails.DateOfReport">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                            <span class="badge badge-danger" data-ng-show="ErrorModel.DateOfReport">{{ErrorModel.ErrorMessageDateOfReport}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-4">
                        <label>Aadhar No</label>
                        <input type="text" class="form-control" data-ng-model="Emp.AadharNo" placeholder="Enter Aadhar No ..." data-ng-blur="CheckAdhaarExist();">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.AadharNo">{{ErrorModel.ErrorMessageAdhaarNo}}</span>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <label>Aadhar Image</label>
                        </div>
                        <div>
                            <button id="uploadAdhaar" class="btn btn-danger" type="button">Upload</button>
                            <input id="AdhaarImage" type="file" style="display:none" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div>
                            <label>
                                <input type="radio" name="optionStaff" id="rdoStaff" data-ng-click="changeEmpType()" data-ng-disabled="IsNewUser!=1">
                                STAFF
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="optionStaff" id="rdoDM" data-ng-click="changeEmpType()" data-ng-disabled="IsNewUser!=1">
                                DM
                            </label>
                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div>
                            <label>
                                <input type="radio" name="optionGender" id="rdoMale" data-ng-disabled="IsNewUser!=1">
                                Male
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="optionGender" id="rdoFemale" data-ng-disabled="IsNewUser!=1">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select Employee Designation</label>
                        <select class="form-control" id="ddlEmpType" data-ng-disabled="IsNewUser!=1"></select>
                    </div>
                    <div class="col-sm-4">
                        <label>Select Contractor</label>
                        <select class="form-control" id="ddlContractor" data-ng-disabled="IsNewUser==0"></select>
                    </div>

                    <div class="col-sm-4">
                        <label>Select Project Type</label>
                        <select class="form-control" id="ddlProjectType" data-ng-disabled="IsNewUser==0"></select>
                    </div>

                </div>
                <hr />
                <input type="hidden" id="hdnVCertificatePath" />
                <input type="hidden" id="hdnAdhaarImage" />
                <input type="hidden" id="hdnIdProofImage" />
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select Sub Department</label>
                        <select class="form-control" id="ddlSDep" data-ng-disabled="IsNewUser==0"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.DeptId">{{ErrorModel.ErrorMessageDeptId}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label>Already Validated</label>
                        <input type="checkbox" class="checkbox" id="chkIsAlreadyValidated" data-ng-click="checkAlreadyValidated()" data-ng-disabled="IsNewUser==0"/>
                    </div>
                    <div class="col-sm-4">
                        <div>
                            <label>Upload Validate Certificate</label>
                        </div>
                        <div>
                            <button id="uploadValidationC" class="btn btn-danger" type="button" data-ng-disabled="EmpDetails.IsAlreadyValidated==false">Upload</button>
                            <input id="ValidationCertificate" type="file" style="display:none" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select Zone</label>
                        <select class="form-control" id="ddlZone" data-ng-disabled="IsNewUser==0"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.DeptZoneId">{{ErrorModel.ErrorMessageDeptZoneId}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label>Select Validation Agency</label>
                        <select class="form-control" id="ddlVAgency" data-ng-disabled="IsNewUser==0"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.ValidationAgencyId">{{ErrorModel.ErrorMessageValidationAgencyId}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label>Select Trade</label>
                        <select class="form-control" id="ddlTrade" data-ng-disabled="IsNewUser==0"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.TradeId">{{ErrorModel.ErrorMessageTradeId}}</span>
                    </div>
                </div>
                <hr />
            </div>

            <div class="col-md-4">
                <hr style="border-style: none" />
                <hr style="border-style: none;  margin-top: 2.6em" />
                <div class="row">
                    <div id="webcam" style="min-height:150px;max-height:200px;"></div>
                    <img id="imgCapture" style="display: none; width: 250px;height: 270px" />

                    <input type="button" class="btn btn-danger" value="Capture" onclick="Capture();" />
                    <button id="uploadProfile" class="btn btn-danger" type="button">Upload</button>
                    <input id="ProfileImage" type="file" style="display:none" />
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="margin-left:18px">
            <div class="panel-heading"> Personal Information</div>
            <div class="row">

                <div class="col-sm-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First Name ..." data-ng-model="Emp.FName">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.FName">{{ErrorModel.ErrorMessageFName}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Middle Name</label>
                    <input type="text" class="form-control" placeholder="Enter Middle Name ..." data-ng-model="Emp.MName">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.MName">{{ErrorModel.ErrorMessageMName}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name ..." data-ng-model="Emp.LName">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.LName">{{ErrorModel.ErrorMessageLName}}</span>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Date Of Birth</label>
                    <div class='input-group date' id='dtReport'>
                        <input type="text" class="form-control" placeholder="Enter Date Of Birth ..." data-ng-model="Emp.DOB" id="dtBirth">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Select BloodGroup</label>
                    <select class="form-control">
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="O-">O-</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>Pan No</label>
                    <input type="text" class="form-control" placeholder="Enter PAN No ..." data-ng-model="Emp.PanNo">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Select Id Proof Type</label>
                    <select class="form-control" id="ddlIdProofType" data-ng-disabled="IsNewUser!=1">
                        <option value="PAN">PAN</option>
                        <option value="DL">Driving Licence</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label>ID Proof No</label>
                    <input type="text" class="form-control" placeholder="Enter Id Proof No ..." data-ng-model="EmpDetails.IdProofNo">
                </div>
                <div class="col-sm-4">
                    <label>Upload Id Proof Document</label>
                    <div>
                        <button id="uploadIdProof" class="btn btn-danger" type="button">Upload</button>
                        <input id="IdProofDoc" type="file" style="display:none" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default" style="margin-left:18px">
            <div class="panel-heading"> Address Information</div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Permanant House NO And Name</label>
                    <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PHouseNo">
                </div>
                <div class="col-sm-4">
                    <label> Village </label>
                    <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PVillageId">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.PVillageId">{{ErrorModel.ErrorMessagePVillageId}}</span>
                </div>
                <div class="col-sm-4">
                    <label>Permanant Taluka</label>
                    <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PTalukaId">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Country</label>
                    <select id="ddlPCountry" class="form-control" data-ng-click="BindPStateList()"></select>
                    <span class="badge badge-danger" data-ng-show="ErrorModel.PCountryId">{{ErrorModel.ErrorMessagePContryId}}</span>
                </div>
                <div class="col-sm-4">
                    <label>State</label>
                    <select id="ddlPState" class="form-control" data-ng-click="BindPDistrictList()"></select>
                    <span class="badge badge-danger" data-ng-show="ErrorModel.PStateId">{{ErrorModel.ErrorMessagePStateId}}</span>
                </div>
                <div class="col-sm-4">
                    <label> Permanent  District</label>
                    <select class="form-control" id="ddlPDistrict"></select>
                    <span class="badge badge-danger" data-ng-show="ErrorModel.PDisticId">{{ErrorModel.ErrorMessagePDisticId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Permanant Pin Code</label>
                    <input type="text" class="form-control" placeholder="Enter Pin code ..." data-ng-model="EmpDetails.PPincodeId">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.PPincodeId">{{ErrorModel.ErrorMessagePPincodeId}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="color:red">
                    <label>If Both Address Same Than Click Me <input type="checkbox" class="checkbox" id="chkAddressSame" data-ng-click="copyAddress()"/></label>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Temporary  House NO And Name</label>
                    <input type="text" class="form-control" placeholder="Enter Temporary  House NO And Name ..." data-ng-model="EmpDetails.THouseNo">
                </div>
                <div class="col-sm-4">
                    <label> Temporary Village Name  </label>
                    <input type="text" class="form-control" placeholder="Enter Temporary Village Name ..." data-ng-model="EmpDetails.TVillageId">
                </div>
                <div class="col-sm-4">
                    <label>Temporary  Taluka</label>
                    <input type="text" class="form-control" placeholder="Enter Temporary  Taluka ..." data-ng-model="EmpDetails.TTalukaId">
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>  Country</label>
                    <select id="ddlCountry" class="form-control" data-ng-click="BindStateList()"></select>
                </div>
                <div class="col-sm-4">
                    <label> State</label>
                    <select id="ddlState" class="form-control" data-ng-click="BindDistrictList()"></select>
                </div>
                <div class="col-sm-4">
                    <label> Temporary  District</label>
                    <select class="form-control" id="ddlDistrict"></select>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Temporary  Pin Code</label>
                    <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.TPincode">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default" style="margin-left:18px">
            <div class="panel-heading"> Contact Information</div>
            <div class="row">
                <div class="col-sm-4">
                    <label> Contact No</label>
                    <input type="text" class="form-control" placeholder="Enter Contact No ..." data-ng-model="EmpDetails.ContactNo">
                </div>
                <div class="col-sm-4">
                    <label>Emergency Contact No</label>
                    <input type="text" class="form-control" placeholder="Enter Emergency Contact No ..." data-ng-model="EmpDetails.EmrContactNo">
                </div>
                <div class="col-sm-4">
                    <label>Email Id</label>
                    <input type="text" class="form-control" placeholder="Enter Email Id ..." data-ng-model="EmpDetails.EmpEmail">
                    <span class="badge badge-danger" data-ng-show="ErrorModel.UserName">{{ErrorModel.ErrorMessageUserName}}</span>
                </div>
            </div>
        </div>
    


    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" data-ng-click="RegisterStaff()" data-ng-show="IsNewUser==1">Save</button>
                    <button type="button" class="btn btn-danger" data--ng-show="IsNewUser==0 || IsNewUser==2" data-ng-click="RegisterStaff()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
