<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="SkillCreationController">
    <div class="col-md-12"><h3 class="header">Skill Creation Master</h3></div>
    <div class="col-md-12" data-ng-show="AddNew">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Skill Title</label>
                <input type="text" class="form-control" placeholder="Skill Title ..." data-ng-model="SkillTypModel.SkillTitle">
                <span class="badge badge-danger" data-ng-show="ErrorModel.SkillTitle">{{ErrorModel.ErrorSelectSkillTitle}}</span>

            </div>
           


            <div class="form-group">
                <button class="btn btn-danger" type="button" data-ng-click="Save()">Save</button>
                <button class="btn btn-danger" type="button" data-ng-click="CancelClick()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-ng-show="Details">
        <div class="col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-danger" type="button" data-ng-click="AddNewClick()">Add New</button>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Skill Title</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="SkillType in SkillTypeList">
                            <td>{{SkillType.SkillCreationId}}</td>
                            <td>{{SkillType.SkillTitle}}</td>
                            


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" style="margin-top:20px;" id="ddlPageSize">
                        <option value="5">5</option>
                        <option value="5">10</option>
                    </select>
                </div>
            </div>
            <div>
                <ul class="pager">
                    <li><a href="#">Page No : {{SkillTypeModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                    <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                    <li><a href="#" data-ng-click="Next()">Next</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>
