<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="UserRollMapping">
    <div class="col-md-12"><h3 class="header">Staff Role Mapping</h3></div>
    
    <div class="col-md-12" data-ng-show="Details">
        <div class="col-md-12">
            <div class="col-md-0"></div>
            <div class="col-md-11">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Contact No</th>
                            <th>Assign Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="urole in UserList">
                            <td>{{urole.ContractorId}}</td>
                            <td>{{urole.ContractorName}}</td>
                            <td>{{urole.ContractorCompanyName}}</td>
                            <td><span class="glyphicon glyphicon-edit"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-7"></div>
            <div class="col-md-1">
                <div class="form-group">
                    <select class="form-control" style="margin-top:20px;" id="ddlPageSize">
                        <option value="5">5</option>
                        <option value="5">10</option>
                    </select>
                </div>
            </div>
            <div>
                <ul class="pager">
                    <li><a href="#">Page No : {{ContractorModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                    <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                    <li><a href="#" data-ng-click="Next()">Next</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>