
<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="ValidatedCandidatesController">
    <div class="col-md-12">

        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>PRN</th>
                        <th>Adhar</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th>Trade Category</th>
                        <th>Trade Name</th>
                        <th>Project Type</th>                      
                        <th >Result</th>
                        <th>Validation Date</th>
                    </tr>
                </thead>
                <tbody ng-switch="CandidatesForValidationList.length">
                    <tr  ng-switch-when="0">
                        <td colspan="11" style="text-align:center"><b>{{GridContentText}}</b></td>
                    </tr>
                    <tr ng-switch-default data-ng-repeat="ValidationAgency in CandidatesForValidationList">
                        <td>{{ValidationAgency.SrNo}}</td>
                        <td>{{ValidationAgency.PRN}}</td>
                        <td>{{ValidationAgency.Adhar}}</td>
                        <td>{{ValidationAgency.Name}}</td>
                        <td>
                            <img src="{{ValidationAgency.PhotoURL}}" style="width:80px; height:60px;" />
                        </td>
                        <td>{{ValidationAgency.TradeCategory}}</td>

                        <td>{{ValidationAgency.TradeName}}</td>
                        <td>{{ValidationAgency.ProjectTypeName}}</td>
                      
                        <td>
                            <div ng-switch="ValidationAgency.TestResult">
                                <div ng-switch-when="1">
                                    <button class="{{'btn btn-sm btn-success'}}"><i class="{{'fa fa-check-square'}}"></i>{{' Passed'}}</button>
                                </div>
                                <div ng-switch-when="0">
                                    <button class="{{'btn btn-sm btn-danger'}}"><i class="{{'fa fa-check-square'}}"></i>{{' Failed'}}</button>
                                </div>

                            </div>
                        </td>
                        <td>{{ValidationAgency.ValidationDate}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <div class="col-md-2">
                    <select class="form-control" style="margin-top:20px;" data-ng-model="ValidationAgencyModel.PageSize">
                        <option value="5">5</option>
                        <option value="5">10</option>
                    </select>
                </div>
                <div class="col-md-8">
                    <ul class="pager">
                        <li><a href="#">Page No : {{CandidatesForValidationModel.PageNo}}/Pages : {{TotalPages}}/Total Records: {{TotalRecords}}</a></li>
                        <li><a href="#" data-ng-click="Prev()">Previous</a></li>
                        <li><a href="#" data-ng-click="Next()">Next</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>

