<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="ValidationEntryFormController">
    <div class="col-md-12"><h3 class="header">Multi Validation Entry Form</h3></div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4" data-ng-switch="IsNewUser">
                        <label>Exit Status</label>
                        <span ng-switch-when="0" style="color:red">Existing User</span>
                        <span ng-switch-when="1" style="color:red">No Such User Exist Of DM Type Or Exit From System</span>

                    </div>
                    <div class="col-sm-4">

                        <select class="form-control" id="ddlAssignTrade"></select>
                    </div>
                    <div class="col-sm-4">

                        <div class='input-group date' id='dtMapping'>
                            <input type="text" class="form-control" placeholder="Enter Validation Assign Date ..." data-ng-model="MultiValidation.MappingDate">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                            <span class="badge badge-danger" data-ng-show="ErrorModel.MappingDate">{{ErrorModel.ErrorMessageMappingDate}}</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <hr />
                <div class="row">
                    
                    <div class="col-sm-4">

                        <label>Aadhar No</label>
                        <input type="text" class="form-control" data-ng-model="Emp.AadharNo" placeholder="Enter Aadhar No ..." data-ng-blur="CheckAdhaarExist();">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.AadharNo">{{ErrorModel.ErrorMessageAdhaarNo}}</span>
                    </div>


                    <div class="col-sm-4">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name ..." data-ng-model="Emp.FName">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.FName">{{ErrorModel.ErrorMessageFName}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="Enter Middle Name ..." data-ng-model="Emp.MName">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.MName">{{ErrorModel.ErrorMessageMName}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name ..." data-ng-model="Emp.LName">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.LName">{{ErrorModel.ErrorMessageLName}}</span>
                    </div>



                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <label>Select Zone</label>
                        <select class="form-control" id="ddlZone"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.DeptZoneId">{{ErrorModel.ErrorMessageDeptZoneId}}</span>
                    </div>

                    <div class="col-sm-4">
                        <label>Select Contractor</label>
                        <select class="form-control" id="ddlContractor"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.ContractorId">{{ErrorModel.ErrorMessageContractorId}}</span>
                    </div>

                    <div class="col-sm-4">
                        <label>Select Project Type</label>
                        <select class="form-control" id="ddlProjectType"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.ProjectTypeId">{{ErrorModel.ErrorMessageProjectTypeId}}</span>
                    </div>

                </div>
                <hr />
                <div class="row">

                    <div class="col-sm-4">
                        <label>Already Validated</label>
                        <input type="checkbox" class="checkbox" id="chkIsAlreadyValidated" data-ng-click="checkAlreadyValidated()" />
                    </div>
                    <div class="col-sm-4">
                        <label>Upload Validate Certificate</label>
                        <input type="file" class="form-control" id="InputFilePath" data-ng-hide="vacerti">
                        <span class="badge badge-danger" data-ng-show="ErrorModel.FilePath">{{ErrorModel.ErrorMessageFilePath}}</span>
                    </div>

                    <div class="col-sm-4">
                        <label>Select Validation Agency</label>
                        <select class="form-control" id="ddlVAgency"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.ValidationAgencyId">{{ErrorModel.ErrorMessageValidationAgencyId}}</span>
                    </div>

                </div>
                <hr />
                <div class="row">

                    <div class="col-sm-4">
                        <label>Select Trade</label>
                        <select class="form-control" id="ddlTrade"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.TradeId">{{ErrorModel.ErrorMessageTradeId}}</span>
                    </div>

                    <div class="col-sm-4">
                        <label>Select Sub Department</label>
                        <select class="form-control" id="ddlSDep"></select>
                        <span class="badge badge-danger" data-ng-show="ErrorModel.DeptId">{{ErrorModel.ErrorMessageDeptId}}</span>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" data-ng-model="EmpDetails.EmpDetailsId" ng-hide="true">
                    </div>
                </div>
                <hr />




            </div>

            <div class="col-md-4">
                <hr style="border-style: none" />
                <hr style="border-style: none;  margin-top: 2.6em" />
                <div class="row">
                    <div id="webcam" style="min-height:200px;max-height:250px;"></div>
                    <img id="imgCapture" style="display: none; width: 300px;height: 320px" />
                    <input id="AdhaarImage" type="file" style="display:none" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <button type="button" class="btn btn-danger" data-ng-click="RegisterStaff()" data-ng-show="IsNewUser==0">Save</button>

                </div>
            </div>
        </div>
    </div>
</div>