@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="EmployeeController">
    <div class="col-md-12">
        <h3>Employee OneTime Registeration Process</h3>
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Aadhar No</label>
                    <input type="text" class="form-control" data-ng-model="EmployeeModal.AadharNo" placeholder="Enter Aadhar No ..." data-ng-blur="CheckAdhaarExist();">
                </div>
                <div class="form-group" data-ng-switch="IsNewUser">
                    <label>Exit Status</label>
                    <span ng-switch-when="0">Existing User</span>
                    <span ng-switch-when="1">New User</span>
                    <span ng-switch-when="2">Re Join</span>
                </div>
                <div class="form-group">
                    <label>Select Zone</label>
                    <select class="form-control" id="ddlZone">
                    </select>
                </div>

                <div class="form-group">
                    <label>Select Validation Agency</label>
                    <select class="form-control" id="ddlVAgency">
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Trade</label>
                    <select class="form-control" id="ddlTrade">
                    </select>
                </div>
                <div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name ..." data-ng-model="Emp.FName">
                    </div>
                    <div class="form-group">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="Enter Middle Name ..." data-ng-model="Emp.MName">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name ..." data-ng-model="Emp.LName">
                    </div>

                    <div class="form-group">
                        <label>Date Of Reporting</label>
                        <input type="text" class="form-control" placeholder="Enter Date Of Reprting ..." data-ng-model="EmpDetails.DateOfReport">
                    </div>
                    <div class="form-group">
                        <label>Select Id Proof Type</label>
                        <select class="form-control">
                            <option>Aadhar</option>
                            <option>PAN</option>
                            <option>Driving Licence</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>ID Proof No</label>
                        <input type="text" class="form-control" placeholder="Enter Id Proof No ..." data-ng-model="EmpDetails.IdProofNo">
                    </div>
                    <div class="form-group">
                        <label>Upload Id Proof Document</label>
                        <input type="file" class="form-control" placeholder="Upload Id Proof Document ...">
                    </div>
                    <div class="form-group">
                        <label> Permanant House NO And Name</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PHouseNo">
                    </div>
                    <div class="form-group">
                        <label> Village </label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PVillageId">
                    </div>
                    <div class="form-group">
                        <label>Permanant Taluka</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.PTalukaId">
                    </div>
                    <div class="form-group">
                        <label> Country</label>
                        <select id="ddlPCountry" class="form-control" data-ng-click="BindStateList()"></select>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <select id="ddlPState" class="form-control" data-ng-click="BindDistrictList()"></select>
                    </div>
                    <div class="form-group">
                        <label> Permanent  District</label>
                        <select class="form-control" id="ddlPDistrict"></select>
                    </div>
                    <div class="form-group">
                        <label> Permanant Pin Code</label>
                        <input type="text" class="form-control" placeholder="Enter Pin code ..." data-ng-model="EmpDetails.PPincodeId">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="box-body">
                <div class="col-md-12">
                    <div id="webcam" style="min-height:250px;max-height:250px;"></div>
                    <img id="imgCapture" style="display: none; width: 320px;height: 240px" />
                    <input type="button" class="btn btn-danger" value="Capture" onclick="Capture();" />
                    <button id="uploadAdhaar" class="btn btn-danger" type="button">Upload</button>
                    <input type="hidden" id="profileImagehidden" />
                    <input id="AdhaarImage" type="file" style="display:none" />
                </div>
                <div class="form-group">
                    <div class="">
                        <label>
                            <input type="radio" name="optionStaff" id="rdoStaff" value="0">
                            STAFF
                        </label>
                    </div>
                    <div class="">
                        <label>
                            <input type="radio" name="optionStaff" id="rdoDM" value="1">
                            DM
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <label>Select Employee Type</label>
                    <select class="form-control" id="ddlEmpType">
                        <option>Supervisor </option>
                        <option>DM </option>
                        <option>DM ShutDown </option>
                        <option>Technical Fitter</option>
                        <option>DM Special Shutdown</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Contractor</label>
                    <select class="form-control" id="ddlContractor">
                        <option>Naresh Shinde</option>
                        <option>Pandurang Kumbhar</option>
                        <option>Mahesh Kumar</option>
                    </select>
                </div>

                <div>
                    <div class="form-group">
                        <div class="">
                            <label>
                                <input type="radio" name="optionGender" id="rdoMale" data-ng-model="Emp.Gender" data-ng-value="1">
                                Male
                            </label>
                        </div>
                        <div class="rado">
                            <label>
                                <input type="radio" name="optionGender" id="rdoFemale" data-ng-value="0" data-ng-model="Emp.Gender">
                                Female
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <input type="text" class="form-control" placeholder="Enter Date Of Birth ..." data-ng-model="Emp.DOB">
                    </div>
                    <div class="form-group">
                        <label>Select BloodGroup</label>
                        <select class="form-control">
                            <option>A+</option>
                            <option>B+</option>
                            <option>O-</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Pan No</label>
                        <input type="text" class="form-control" placeholder="Enter PAN No ..." data-ng-model="Emp.PanNo">
                    </div>
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" class="form-control" placeholder="Enter Email Id ..." data-ng-model="Emp.UserName">
                    </div>
                    <div class="form-group">
                        <label> Country</label>
                        <select id="ddlCountry" class="form-control" data-ng-click="BindStateList()"></select>
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <select id="ddlState" class="form-control" data-ng-click="BindDistrictList()"></select>
                    </div>
                    <div class="form-group">
                        <label> Temporary  District</label>
                        <select class="form-control" id="ddlDistrict">
                        </select>
                    </div>
                    <div class="form-group">
                        <label> Temporary  House NO And Name</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.THouseNo">
                    </div>
                    <div class="form-group">
                        <label> Temporary Village Name  </label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.TVillageId">
                    </div>
                    <div class="form-group">
                        <label>Temporary  Taluka</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.TTalukaId">
                    </div>

                    <div class="form-group">
                        <label> Temporary  Pin Code</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.TPincode">
                    </div>
                    <div class="form-group">
                        <label> Contact No</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ..." data-ng-model="EmpDetails.ContactNo">
                    </div>
                    <div class="form-group">
                        <label>Emergency Contact No</label>
                        <input type="text" class="form-control" placeholder="Enter Emergency Contact No ..." data-ng-model="EmpDetails.EmrContactNo">
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/Scripts/AdminLayout/EmployeeController.js")
@Scripts.Render("~/Scripts/AdminLayout/jquery.webcam.js")
<script type="text/javascript">
    $(function () {
        jQuery("#webcam").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: '@Url.Content("~/Scripts/AdminLayout/jscam.swf")',
            debug: function (type, status) {
                $('#camStatus').append(type + ": " + status + '<br /><br />');
            },
            onSave: function (data, ab) {
                $.ajax({
                    type: "POST",
                    url: '/Home/GetCapture',
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (r) {
                        $("#webcam").hide();
                        $("#imgCapture").show();
                        $("#imgCapture").attr("src", r);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            },
            onCapture: function () {
                webcam.save('@Url.Action("Capture", "Dashboard")');
            }
        });

        $("#uploadAdhaar").click(function () {
            files = $("#AdhaarImage").get(0).files;
            if (files.length == 0) {
                $("#AdhaarImage").trigger("click");
            }
            else {
                UploadA();
            }
        })
        $("#AdhaarImage").change(function () {
            $("#uploadAdhaar").trigger("click");
        });
    });
    function Capture() {
        webcam.capture();
    }
</script>