@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row nomargin" data-ng-app="CRAdminApp" data-ng-controller="EmployeeController">
    <div class="col-md-12">
        <h3>Employee OneTime Registeration Process</h3>
        <div class="col-md-6">
            <div class="box-body">
                <div class="form-group">
                    <label>Aadhar No</label>
                    <input type="text" class="form-control" data-ng-model="EmployeeModal.AadharNo" placeholder="Enter Aadhar No ..." data-ng-change="CheckAdhaarExist();">
                </div>
                <div class="form-group">
                    <label>Select Zone</label>
                    <select class="form-control" id="ddlZone">
                       
                    </select>
                </div>
               
                <div class="form-group">
                    <label>Select Validation Agency</label>
                    <select class="form-control" id="ddlVAgency">
                        
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Trade</label>
                    <select class="form-control" id="ddlTrade">
                       
                    </select>
                </div>
                <div style="display:inline-block">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="Enter First Name ...">
                    </div>
                    <div class="form-group">
                        <label>Middle Name</label>
                        <input type="text" class="form-control" placeholder="Enter Middle Name ...">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last Name ...">
                    </div>

                    <div class="form-group">
                        <label>Date Of Reporting</label>
                        <input type="text" class="form-control" placeholder="Enter Date Of Reporting ...">
                    </div>
                    <div class="form-group">
                        <label>Select Id Proof Type</label>
                        <select class="form-control">
                            <option>Aadhar</option>
                            <option>PAN</option>
                            <option>Driving Licence</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>ID Proof No</label>
                        <input type="text" class="form-control" placeholder="Enter Id Proof No ...">
                    </div>
                    <div class="form-group">
                        <label>Upload Id Proof Document</label>
                        <input type="file" class="form-control" placeholder="Upload Id Proof Document ...">
                    </div>
                    <div class="form-group">
                        <label> Permanant House NO And Name</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ...">
                    </div>
                    <div class="form-group">
                        <label> Village </label>
                        <select class="form-control">
                            

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Permanant Taluka</label>
                        <select class="form-control">
                            

                        </select>
                    </div>
                    <div class="form-group">
                        <label> Permanant Distic</label>
                        <select class="form-control">
                            

                        </select>
                    </div>
                    <div class="form-group">
                        <label> Permanant Pin Code</label>
                        <input type="text" class="form-control" placeholder="Enter Pin code ...">
                    </div>
                    <div class="form-group">
                        <label> Contact No</label>
                        <input type="text" class="form-control" placeholder="Enter Contact No ...">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="box-body">
                <div class="col-md-12">
                    <div id="webcam" style="min-height:250px;max-height:250px;"></div>
                    <img id="imgCapture" style="display: none; width: 320px;height: 240px" />
                    <input type="button" class="btn btn-danger" value="Capture" onclick="Capture();" />
                    <button id="uploadAdhaar" class="btn btn-danger" type="button">Upload</button>
                    <input type="hidden" id="profileImagehidden" />
                    <input id="AdhaarImage" type="file" style="display:none" />
                </div>
                <div class="form-group">
                    <div class="">
                        <label>
                            <input type="radio" name="optionStaff" id="rdoStaff" value="0">
                            STAFF
                        </label>
                    </div>
                    <div class="">
                        <label>
                            <input type="radio" name="optionStaff" id="rdoDM" value="1">
                            DM
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    <label>Select Employee Type</label>
                    <select class="form-control" id="ddlEmpType">
                        
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Contractor</label>
                    <select class="form-control" id="ddlContractor">
                        
                    </select>
                </div>
                
                <div style="display:inline-table">
                    <div class="form-group">
                        <div class="">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                                Male
                            </label>
                        </div>
                        <div class="rado">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Female
                            </label>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Date Of Birth</label>
                        <input type="text" class="form-control" placeholder="Enter Date Of Birth ...">
                    </div>
                    <div class="form-group">
                        <label>Select BloodGroup</label>
                        <select class="form-control">
                            <option>A+</option>
                            <option>B+</option>
                            <option>O-</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Pan No</label>
                        <input type="text" class="form-control" placeholder="Enter PAN No ...">
                    </div>
                    <div class="form-group">
                        <label>Email Id</label>
                        <input type="text" class="form-control" placeholder="Enter Email Id ...">
                    </div>
                    <div class="form-group">
                        <label> Temporary  House NO And Name</label>
                        <input type="text" class="form-control" placeholder="Enter Permanant House NO And Name ...">
                    </div>
                    <div class="form-group">
                        <label> Temporary Village Name  </label>
                        <select class="form-control">
                           

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Temporary  Taluka</label>
                        <select class="form-control">
                           

                        </select>
                    </div>
                    <div class="form-group">
                        <label> Temporary  Distic</label>
                        <select class="form-control">
                           

                        </select>
                    </div>
                    <div class="form-group">
                        <label> Temporary  Pin Code</label>
                        <input type="text" class="form-control" placeholder="Enter Pin Code ...">
                    </div>
                   
                    <div class="form-group">
                        <label>Emergency Contact No</label>
                        <input type="text" class="form-control" placeholder="Enter Emergency Contact No ...">
                    </div>

                </div>
            </div>
        </div>
    </div>
    
</div>
@Scripts.Render("~/Scripts/AdminLayout/EmployeeController.js")
@Scripts.Render("~/Scripts/AdminLayout/jquery.webcam.js")
<script type="text/javascript">
    $(function () {
        jQuery("#webcam").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: '@Url.Content("~/Scripts/AdminLayout/jscam.swf")',
            debug: function (type, status) {
                $('#camStatus').append(type + ": " + status + '<br /><br />');
            },
            onSave: function (data, ab) {
                $.ajax({
                    type: "POST",
                    url: '/Home/GetCapture',
                    data: '',
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (r) {
                        $("#webcam").hide();
                        $("#imgCapture").show();
                        $("#imgCapture").attr("src", r);
                    },
                    failure: function (response) {
                        alert(response.d);
                    }
                });
            },
            onCapture: function () {
                webcam.save('@Url.Action("Capture", "Dashboard")');
            }
        });

        $("#uploadAdhaar").click(function () {
            files = $("#AdhaarImage").get(0).files;
            if (files.length == 0) {
                $("#AdhaarImage").trigger("click");
            }
            else {
                UploadA();
            }
        })
        $("#AdhaarImage").change(function () {
            $("#uploadAdhaar").trigger("click");
        });
    });
    function Capture() {
        webcam.capture();
    }
</script>